In [1]:
import numpy as np
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [2]:
dataset_ids = {
  'yeast':110, 
  'iris': 53, 
  'beans':602, 
  'rice': 545, 
  'raisins': 850,
  'wine': 109,
  'wine_quality': 186,
  'abalone': 1,
  'glass': 42,
  'obesity': 544
}

In [3]:
datasets = {}
variables = {}
targets = {}

for dataset_name, dataset_id in dataset_ids.items():
  repo = fetch_ucirepo(id=dataset_id)
  datasets[dataset_name] = repo.data.features
  variables[dataset_name] = repo.variables
  targets[dataset_name] = repo.data.targets

# Filters data that isn't continuous
for dataset_name, data in variables.items():
  to_drop = data[(data['type'] != 'Continuous') | (data['role'] != 'Feature')]['name'].to_list()

  for column in to_drop:
    try:
      datasets[dataset_name] = datasets[dataset_name].drop(column, axis='columns')
    except KeyError:
      pass

Column Sequence_Name not found in yeast
Column localization_site not found in yeast

    mcg   gvh   alm   mit  erl  pox   vac   nuc
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22

Column class not found in iris

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Column Class not found in beans

,Perimeter,MajorAxisLength,MinorAxisLength,AspectRatio,Eccentricity,EquivDiameter,Extent,Solidity,Roundness,Compactness,ShapeFactor1,ShapeFactor2,ShapeFactor3,ShapeFactor4
0,610.291,208.178117,173.888747,1.197191,0.549812,190.141097,0.763923,0.988856,0.958027,0.913358,0.007332,0.003147,0.834222,0.998724
1,638.018,200.524796,182.734419,1.097356,0.411785,191.272751,0.783968,0.984986,0.887034,0.953861,0.006979,0.003564,0.909851,0.998430
2,624.110,212.826130,175.931143,1.209713,0.562727,193.410904,0.778113,0.989559,0.947849,0.908774,0.007244,0.003048,0.825871,0.999066
3,645.884,210.557999,182.516516,1.153638,0.498616,195.467062,0.782681,0.976696,0.903936,0.928329,0.007017,0.003215,0.861794,0.994199
4,620.134,201.847882,190.279279,1.060798,0.333680,195.896503,0.773098,0.990893,0.984877,0.970516,0.006697,0.003665,0.941900,0.999166

Column Class not found in rice

    Perimeter  Major_Axis_Length  Minor_Axis_Length  Eccentricity    Extent
0  525.578979         229.749878          85.093788      0.928882  0.572896
1  494.311005         206.020065          91.730972      0.895405  0.615436
2  501.122009         214.106781          87.768288      0.912118  0.693259
3  458.342987         193.337387          87.448395      0.891861  0.640669
4  507.166992         211.743378          89.312454      0.906691  0.646024

Column Class not found in raisins

   MajorAxisLength  MinorAxisLength  Eccentricity    Extent  Perimeter
0       442.246011       253.291155      0.819738  0.758651   1184.040
1       406.690687       243.032436      0.801805  0.684130   1121.786
2       442.267048       266.328318      0.798354  0.637613   1208.575
3       286.540559       208.760042      0.684989  0.699599    844.162
4       352.190770       290.827533      0.564011  0.792772   1073.251

Column class not found in wine

,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,0D280_0D315_of_diluted_wines
0,14.23,1.71,2.43,15.6,2.80,3.06,0.28,2.29,5.64,1.04,3.92
1,13.20,1.78,2.14,11.2,2.65,2.76,0.26,1.28,4.38,1.05,3.40
2,13.16,2.36,2.67,18.6,2.80,3.24,0.30,2.81,5.68,1.03,3.17
3,14.37,1.95,2.50,16.8,3.85,3.49,0.24,2.18,7.80,0.86,3.45
4,13.24,2.59,2.87,21.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93

Column quality not found in wine_quality
Column color not found in wine_quality

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

Column Rings not found in abalone

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

Column Id_number not found in glass
Column Type_of_glass not found in glass

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

Column NObeyesdad not found in obesity

    Age  Height  Weight  NCP  CH2O  FAF
0  21.0    1.62    64.0  3.0   2.0  0.0
1  21.0    1.52    56.0  3.0   3.0  3.0
2  23.0    1.80    77.0  3.0   2.0  2.0
3  27.0    1.80    87.0  3.0   2.0  2.0
4  22.0    1.78    89.8  1.0   2.0  0.0

In [12]:
for dataset_name, data in datasets.items():
  centers = targets[dataset_name].iloc[:, 0].nunique()

  with open('real-instances/' + dataset_name + '.dat', 'w') as f:
    f.write(f"CENTERS:{centers}\n")
    # f.write(f"COV:{args.cov_list}\n") # N sei oq fz com isso aq
    # f.write(f"POINTS_PER_CENTER:{0}\n") # Acho que isso n se aplica aq
    # f.write(f"CENTERS_COORDS:{args.centers}\n") # Isso a gente não sabe a princípio nos dados reais
    f.write(f"POINTS/LABELS: \n")

    for index, row in data.iterrows():
      f.write(';'.join([str(x) for x in row]) + ';' + str(targets[dataset_name].iloc[index, 0]) + '\n')